
.idea/compiler.xml
.idea/dataSources.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
data/_mdb_catalog.wt
data/collection-0--6137170872642539245.wt
data/collection-2--6137170872642539245.wt
data/collection-4--6137170872642539245.wt
data/diagnostic.data/metrics.2024-08-21T00-14-12Z-00000
data/diagnostic.data/metrics.2024-08-21T08-47-10Z-00000
data/diagnostic.data/metrics.2024-08-21T10-09-29Z-00000
data/diagnostic.data/metrics.2024-08-21T10-14-09Z-00000
data/diagnostic.data/metrics.2024-08-21T10-18-12Z-00000
data/diagnostic.data/metrics.2024-08-21T10-29-10Z-00000
data/diagnostic.data/metrics.2024-08-21T10-30-00Z-00000
data/diagnostic.data/metrics.2024-08-21T11-20-43Z-00000
data/diagnostic.data/metrics.2024-08-21T11-26-19Z-00000
data/diagnostic.data/metrics.2024-08-21T11-29-36Z-00000
data/diagnostic.data/metrics.2024-08-21T11-31-11Z-00000
data/diagnostic.data/metrics.2024-08-21T11-32-49Z-00000
data/diagnostic.data/metrics.2024-08-21T11-38-55Z-00000
data/diagnostic.data/metrics.2024-08-21T11-42-54Z-00000
data/diagnostic.data/metrics.2024-08-21T11-58-54Z-00000
data/diagnostic.data/metrics.interim
data/index-1--6137170872642539245.wt
data/index-3--6137170872642539245.wt
data/index-5--6137170872642539245.wt
data/index-6--6137170872642539245.wt
data/journal/WiredTigerLog.0000000015
data/journal/WiredTigerPreplog.0000000001
data/journal/WiredTigerPreplog.0000000002
data/mongod.lock
data/sizeStorer.wt
data/storage.bson
data/WiredTiger
data/WiredTiger.lock
data/WiredTiger.turtle
data/WiredTiger.wt
data/WiredTigerHS.wt
target/ai-financial-analyst-0.0.1-SNAPSHOT.jar
target/ai-financial-analyst-0.0.1-SNAPSHOT.jar.original
target/classes/application.properties
target/classes/com/lucasnscr/ai_financial_analyst/AiFinancialAnalystApplication.class
target/classes/com/lucasnscr/ai_financial_analyst/client/AlphaClient$1.class
target/classes/com/lucasnscr/ai_financial_analyst/client/AlphaClient.class
target/classes/com/lucasnscr/ai_financial_analyst/config/CorsConfig$1.class
target/classes/com/lucasnscr/ai_financial_analyst/config/CorsConfig.class
target/classes/com/lucasnscr/ai_financial_analyst/config/VectorDbConfig.class
target/classes/com/lucasnscr/ai_financial_analyst/config/WebClientConfig.class
target/classes/com/lucasnscr/ai_financial_analyst/controller/ChatController.class
target/classes/com/lucasnscr/ai_financial_analyst/controller/LoadDataController.class
target/classes/com/lucasnscr/ai_financial_analyst/converter/CryptoConverter.class
target/classes/com/lucasnscr/ai_financial_analyst/converter/StockConverter.class
target/classes/com/lucasnscr/ai_financial_analyst/exception/AlphaClientException.class
target/classes/com/lucasnscr/ai_financial_analyst/exception/InvalidMessageException.class
target/classes/com/lucasnscr/ai_financial_analyst/llm/LLMContent.class
target/classes/com/lucasnscr/ai_financial_analyst/model/Crypto.class
target/classes/com/lucasnscr/ai_financial_analyst/model/CryptoEnum.class
target/classes/com/lucasnscr/ai_financial_analyst/model/Stock.class
target/classes/com/lucasnscr/ai_financial_analyst/model/StockEnum.class
target/classes/com/lucasnscr/ai_financial_analyst/repository/MongoCryptoRepository.class
target/classes/com/lucasnscr/ai_financial_analyst/repository/MongoStockRepository.class
target/classes/com/lucasnscr/ai_financial_analyst/security/JwtConverter.class
target/classes/com/lucasnscr/ai_financial_analyst/security/JwtConverterProperties.class
target/classes/com/lucasnscr/ai_financial_analyst/security/SecurityConfig.class
target/classes/com/lucasnscr/ai_financial_analyst/service/ChatService.class
target/classes/com/lucasnscr/ai_financial_analyst/service/DataLoadingService.class
target/classes/prompts/system-chatbot.st
target/classes/prompts/system-qa.st
target/docker/build.timestamp
target/docker/lucasnscr/ai-financial-analyst/latest/build/Dockerfile
target/docker/lucasnscr/ai-financial-analyst/latest/tmp/docker-build.tar
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/converter.CryptoConverterTest.txt
target/surefire-reports/converter.StockConverterTest.txt
target/surefire-reports/llm.LLMContentTest.txt
target/surefire-reports/TEST-converter.CryptoConverterTest.xml
target/surefire-reports/TEST-converter.StockConverterTest.xml
target/surefire-reports/TEST-llm.LLMContentTest.xml
target/test-classes/converter/CryptoConverterTest.class
target/test-classes/converter/StockConverterTest.class
target/test-classes/llm/LLMContentTest.class
data/journal/WiredTigerLog.0000000021
data/diagnostic.data/metrics.2024-08-21T14-36-20Z-00000
data/diagnostic.data/metrics.2024-08-21T14-35-43Z-00000
data/diagnostic.data/metrics.2024-08-21T14-32-58Z-00000
data/diagnostic.data/metrics.2024-08-21T14-26-11Z-00000
data/diagnostic.data/metrics.2024-08-21T13-33-20Z-00000
data/diagnostic.data/metrics.2024-08-21T13-18-17Z-00000
data/.mongodb/mongosh/66c5fe9e6bc0577680bd57c7_log
data/.mongodb/mongosh/66c5fe9f14a67e0d8dfdd4d9_log
data/.mongodb/mongosh/config
data/.mongodb/mongosh/mongosh_repl_history
data/.mongodb/mongosh/snippets/package.json
data/collection-0--8090939409987180305.wt
data/collection-0-7738280088002093815.wt
data/collection-2--8090939409987180305.wt
data/collection-2-7738280088002093815.wt
data/collection-4--8090939409987180305.wt
data/collection-7--8090939409987180305.wt
data/diagnostic.data/metrics.2024-08-21T14-50-07Z-00000
data/diagnostic.data/metrics.2024-08-21T14-50-11Z-00000
data/index-1--8090939409987180305.wt
data/index-1-7738280088002093815.wt
data/index-3--8090939409987180305.wt
data/index-3-7738280088002093815.wt
data/index-5--8090939409987180305.wt
data/index-6--8090939409987180305.wt
data/index-8--8090939409987180305.wt
data/index-9--8090939409987180305.wt
data/journal/WiredTigerLog.0000000002
